@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");


body {
  font-family: 'Pacifico', cursive;
}
h1 {
  background-color: pink;
  color: grey;
}
h2 {
  color: pink;
  font-weight: 400;
}
a {
  text-decoration: none;
  color:pink;
}
a:hover {
  background-color: pink;
  color: grey;

}
.name {
  text-decoration: underline;
}
.education {
  text-transform: lowercase;
}
.experience {
  text-decoration: underline;
  text-decoration-style: wavy;
}
.hobbies {
  text-transform: uppercase;
}
.sentence {
  text-decoration: line-through;
}
