h1 {
  background-color: pink;
  color: grey;
}
h2 {
  color: pink;
  font-weight: 400;
}
a hover {
  background-color: pink;
  color: grey;
  text-decoration: none;
}
.name {
  text-decoration: underline;
}
.education {
  text-transform: lowercase;
}
.experience {
  text-decoration-style: wavy;
}
.hobbies {
  text-transform: uppercase;
}
.sentence {
  text-decoration: line-through;
}
