body {
  width: 900px;
  margin: 0 auto;
  background-color: pink;
}
nav {
  margin-bottom: 150px;
}

section {
  margin-bottom: 4%;
}

/* Beginning of grids */
.grid-container-1 {
  display: grid;
  grid-gap: 5%;
}

.g4-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}

.g4-img {
  grid-column: 1/2;
  grid-row: 2/3;
}

.g4-text {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid-container-2 {
  display: grid;
  grid-gap: 5%;
}

.g4-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}

.g4-img {
  grid-column: 1/2;
  grid-row: 2/3;
}

.g4-text {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid-container-3 {
  display: grid;
  grid-gap: 5%;
}

.g4-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}

.g4-img {
  grid-column: 1/2;
  grid-row: 2/3;
}

.g4-text {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid-container-4 {
  display: grid;
  grid-gap: 5%;
}

.g4-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}

.g4-img {
  grid-column: 1/2;
  grid-row: 2/3;
}

.g4-text {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* End of grids */

footer {
  margin-top: 120px;
  border-top: 3px solid #556b2f;
  padding-top: 10px;
  height: 150px;
}
